<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>This page exists to document the abuses of power, illegal activities, and general acts of cruelty carried out by the Second Trump Administration. Actions are organized into categories for easy navigation. Each category contains a curated set of specific representative examples with citations to reports from reputable sources. For similar projects visit: <a href="https://www.trumpactiontracker.info/?" style="color: #000000">Trump Action Tracker </a> and <a href="https://unbreaking.org/" style="color: #000000">Unbreaking </a> </p>
      </div>
      <div class="col-lg-4">
        <p>No matter who you are or what your political beliefs, these abuses should frighten you. The United States is not a dictatorship, no matter how much any president wants it to be. As members of a liberal democracy, it is the responsibility of all of us to stand up for the rule of law and the civil liberties of everyone in our society. </p>
      </div>
    </div>
  </div>
</section>
